{% extends 'base.html' %}
{% load static %}
{%block content%}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/—Pngtree—brain bulb icon symbol design_5199221'%}"
            alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Project Share</h1>

    </div>
</header>
{%endblock%}