{%load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'theme/js/scripts.js'%}"></script>
<script src="{% static 'theme/js/popper.js'%}"></script>
<script src="{% static 'theme/js/mdb.min.js'%}"></script>
<script src="{% static 'theme/js/main.js'%}"></script>
<script src="{% static 'theme/js/jquery-3.4.1.min.js'%}"></script>
<script src="{% static 'theme/js/bootstrap.min.js'%}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>